.head { 
    background :#bc0b1a;
    width :100%;
    height :80px;   
}

.foot {
    background :red;
    width :100%;
    height :100px;
}

.title-Sakusei-bi {
    /*margin: 40px;/*隙間*/
    margin-top: 35px; /*上*/
    margin-bottom: 3px;/*下*/
    margin-right : 40px ;/*右*/
    margin-left: 10px;/*左*/
    display:flex; 
    align-items: center;
    justify-content:space-between;
}
.title {
    background :white;
}
.Emphasis {
    display: inline-block;/*ブロック化*/
    border-bottom: 3px solid red;/*下線*/
}
.Sakusei-bi {
    background: white
}
p {
    width: 80%;
    margin: 16px auto;
    font-size: 1.4rem;
}/*文の設定*/
.calendar {
    width: 100%; 
    display: flex; /*横並び*/
    justify-content: center;
    align-items: center;
}/*画像の設定*/
.namisen {
    /* display: flex; */
    text-decoration: rgb(247, 27, 27) wavy underline;
}/*テキストの下に波線*/

#wrapper {
    overflow: visible;
    padding: 0;
    width: 100%;
}
#wrapper {
    margin: 0 auto;
    position: relative;
}