.head { 
    background :#bc0b1a;
    width :100%;
    height :80px;   
}

.foot {
    background :red;
    width :100%;
    height :100px;
}

.title-Sakusei-bi {
    /*margin: 40px;/*隙間*/
    margin-top: 35px; /*上*/
    margin-bottom: 3px;/*下*/
    margin-right : 40px ;/*右*/
    margin-left: 10px;/*左*/
    display:flex; 
    align-items: center;
    justify-content:space-between;
}
.title {
    background :white;
}
.Emphasis {
    display: inline-block;/*ブロック化*/
    border-bottom: 3px solid red;/*下線*/
}
.Sakusei-bi {
    background: white
}
.calendar {
    width: 100%; 
    display: flex; /*横並び*/
    justify-content: center;
    align-items: center;
}/*画像の設定*/
.namisen {
    /* display: flex; */
    text-decoration: rgb(247, 27, 27) wavy underline;
}/*テキストの下に波線*/

#wrapper {
    overflow: visible;
    padding: 0;
    width: 100%;
}
#wrapper {
    margin: 0 auto;
    position: relative;
}
@media only screen and (min-width: 960px) {
	.st-content-width, /* 汎用 */
	#st-menuwide, /*メニュー*/
	nav.smanone,
	nav.st5,
	#st-header-cardlink,
	#st-menuwide div.menu,
	#st-menuwide nav.menu,
	#st-header, /*ヘッダー*/
	#st-header-under-widgets-box, /*ヘッダー画像下ウィジェット*/
	#st-footer-under-widgets-box, /*フッター一括ウィジェット*/
	#content, /*コンテンツ*/
	#footer-in /*フッター*/
	{
		max-width:1116px;
	}
    #contentInner {
        float: left;
        width: 100%;
        margin-right: -300px;
    }
    @media only screen and (min-width: 600px) {
        /*メインコンテンツの背景色*/
    body:not(.front-page) main {
        background: #ffffff!important;
    }
    }
}
div {
    display: block;
}
p {
    width: 80%;
    margin: 16px auto;
    font-size: 1.4rem;
}/*文の設定*/
@media only screen and (max-width: 959px) {
    #wrapper:not(.colum1) #content-w,header+#content-w {
        padding-top: 10px;
    }
}
@media print,screen and (min-width: 960px) {
    #st-header-post-under-box.st-header-post-data,#st-header-post-under-box.st-header-post-no-data {
        margin:-10px 0 10px
    }
    #content {
        margin: 0 auto
    }
}
#content {
    position: relative;
}
.clearfix {
    zoom:1;
}
@media only screen and (min-width: 960px) {

        /*--------------------------------
        PCのレイアウト（右サイドバー）
        ---------------------------------*/

        #contentInner {
            float: left;
            width: 100%;
            margin-right: -300px;
        }

        main {
            margin-right: 320px;
            margin-left: 0px;
            background-color: #fff;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            padding: 30px 50px 30px;
        }

        #side aside {
            float: right;
            width: 300px;
            padding: 0px;
        }
    }
    /* 一括カラー反映 */
	/*メインコンテンツのテキスト色*/
	main,
	.post > * {
		color: #333333;
	}


