@charset "UTF-8";* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue","Hiragino Kaku Gothic ProN","メイリオ",meiryo,sans-serif;
    margin: 0;
    padding: 0
}

main {
    color: #333
}

.st-marquee p:empty,p:empty {
    display: none
}

.st-notosans,.st-notosans * {
    font-family: 'Noto Sans JP',sans-serif!important
}

.st-m1c,.st-m1c * {
    font-family: 'M PLUS Rounded 1c',sans-serif!important
}

main,article,aside,header,canvas,details,figcaption,figure,footer,nav,section,summary {
    display: block
}

html,body {
    height: 100%
}

body {
    min-width: 320px;
    word-wrap: break-word;
    background-color: #fff;
    counter-reset: stcnt imgcountcnt ranknumber-h2 ranknumber-h3 ranknumber-h4
}

body.mceContentBody {
    background-color: #fff
}

cite {
    font-style: normal
}

.entry-content>div {
    margin-bottom: 20px
}

.entry-content {
    margin-bottom: 20px
}

.entry-content.st-empty {
    margin-bottom: 0
}

.colum1 .entry-content.st-empty {
    margin-bottom: 10px
}

.single .entry-content {
    padding-top: 10px
}

body.is-content-empty .entry-content {
    margin-bottom: 0
}

*>p:last-child {
    margin-bottom: 0
}
div {
    display: block;
}
p {
    width: 80%;
    margin: 16px auto;
    font-size: 1.4rem;
}/*文の設定*/

@media only screen and (max-width: 959px) {
    #wrapper:not(.colum1) #content-w,header+#content-w {
        padding-top: 10px;
    }
}
@media print,screen and (min-width: 960px) {
    #st-header-post-under-box.st-header-post-data,#st-header-post-under-box.st-header-post-no-data {
        margin:-10px 0 10px
    }
    #content {
        margin: 0 auto
    }
}
#content {
    position: relative;
}
.clearfix {
    zoom:1;
}
@media only screen and (min-width: 960px) {

        /*--------------------------------
        PCのレイアウト（右サイドバー）
        ---------------------------------*/

        #contentInner {
            float: left;
            width: 100%;
            margin-right: -300px;
        }

        main {
            margin-right: 320px;
            margin-left: 0px;
            background-color: #fff;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            padding: 30px 50px 30px;
        }

        #side aside {
            float: right;
            width: 300px;
            padding: 0px;
        }
        #side {
            padding: 0
        }
    }
    /* 一括カラー反映 */
	/*メインコンテンツのテキスト色*/
	main,
	.post > * {
		color: #333333;
	}
    #side aside>div>div {
        margin-bottom: 10px
    }
    .side-widgets {
        margin: 0
    }
    .side-widgets>* {
        margin-bottom: 10px
    }
    


